## Split education column from the scrape

In [1]:
import pandas as pd
import numpy as np
import re

/Users/ilenapeng/.pyenv/versions/3.9.7/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Split name and school columns

In [2]:
df_raw = pd.read_csv('01-scrape.csv')
df_raw.head()

,name,school,circuit
0,"Colt, LeBaron Bradford","Yale College, A.B., 1868Columbia Law School, L...",First
1,"Putnam, William LeBaron","Bowdoin College, A.B., 1855Read law, 1858",First
2,"Lowell, Francis Cabot","Harvard University, A.B., 1876Harvard Law Scho...",First
3,"Schofield, William","Harvard Law School, LL.B., 1883",First
4,"Dodge, Frederic","Harvard College, B.A., 1867Harvard Law School,...",First

In [3]:
# testing splits with string
string_test = "St. John’s College, Annapolis, Maryland, A.B., 1913Harvard Law School, LL.B., 1916St. John’s College, Annapolis, Maryland, A.M., 1917"

print(re.split('(\d+)', string_test))

['St. John’s College, Annapolis, Maryland, A.B., ', '1913', 'Harvard Law School, LL.B., ', '1916', 'St. John’s College, Annapolis, Maryland, A.M., ', '1917', '']

In [4]:
# split school column 
education_df = df_raw["school"].str.split(r'(\d+)', expand=True)
education_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"Yale College, A.B.,",1868,"Columbia Law School, LL.B.,",1870,,None,None,None,None,None,None
1,"Bowdoin College, A.B.,",1855,"Read law,",1858,,None,None,None,None,None,None
2,"Harvard University, A.B.,",1876,"Harvard Law School, LL.B.,",1879,,None,None,None,None,None,None
3,"Harvard Law School, LL.B.,",1883,,None,None,None,None,None,None,None,None
4,"Harvard College, B.A.,",1867,"Harvard Law School, LL.B.,",1869,,None,None,None,None,None,None

In [5]:
# Replace '' with None
education_df = education_df.replace('', None)

In [6]:
# Replace all Nones with NaNs
education_df = education_df.fillna(value=np.nan)

In [7]:
# drop columns that only have Nones 
# only column 10, tested using:
# test_df[10].unique()
# columns 8 & 9 each only have one entry

education_df = education_df.dropna(axis=1, how='all')
education_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [8]:
# rename columns
column_indices = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
new_names = ['school1', 'year1', 'school2', 'year2', 'school3', 'year3', 'school4', 'year4', 'school5', 'year5']
old_names = education_df.columns[column_indices]
education_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [9]:
# merge dataframes
i = df_raw.columns.get_loc('school')

df = pd.concat([df_raw.iloc[:, :i], education_df, df_raw.iloc[:, i+1:]], axis=1)
df.head()

,name,school1,year1,school2,year2,school3,year3,school4,year4,school5,year5,circuit
0,"Colt, LeBaron Bradford","Yale College, A.B.,",1868,"Columbia Law School, LL.B.,",1870,,NaN,NaN,NaN,NaN,NaN,First
1,"Putnam, William LeBaron","Bowdoin College, A.B.,",1855,"Read law,",1858,,NaN,NaN,NaN,NaN,NaN,First
2,"Lowell, Francis Cabot","Harvard University, A.B.,",1876,"Harvard Law School, LL.B.,",1879,,NaN,NaN,NaN,NaN,NaN,First
3,"Schofield, William","Harvard Law School, LL.B.,",1883,"Harvard Law School, LL.B.,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,First
4,"Dodge, Frederic","Harvard College, B.A.,",1867,"Harvard Law School, LL.B.,",1869,NaN,NaN,NaN,NaN,NaN,NaN,First

In [10]:
# printed this to test that it worked
# df.school1.unique()

# some schools didn't split because they didn't have years, will manually fix these later

In [11]:
# split name columns
name_df = df["name"].str.split(',', expand=True)
name_df.head()

           0                  1     2
0       Colt   LeBaron Bradford  None
1     Putnam    William LeBaron  None
2     Lowell      Francis Cabot  None
3  Schofield            William  None
4      Dodge           Frederic  None

In [12]:
# rename columns
column_indices = [0, 1, 2]
new_names = ['lastname', 'firstname', 'suffix']
old_names = name_df.columns[column_indices]
name_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [13]:
# merge split names df and df with rest of information
df = pd.concat([name_df, df], axis=1)
df.head()

,lastname,firstname,suffix,name,school1,year1,school2,year2,school3,year3,school4,year4,school5,year5,circuit
0,Colt,LeBaron Bradford,None,"Colt, LeBaron Bradford","Yale College, A.B.,",1868,"Columbia Law School, LL.B.,",1870,,NaN,NaN,NaN,NaN,NaN,First
1,Putnam,William LeBaron,None,"Putnam, William LeBaron","Bowdoin College, A.B.,",1855,"Read law,",1858,,NaN,NaN,NaN,NaN,NaN,First
2,Lowell,Francis Cabot,None,"Lowell, Francis Cabot","Harvard University, A.B.,",1876,"Harvard Law School, LL.B.,",1879,,NaN,NaN,NaN,NaN,NaN,First
3,Schofield,William,None,"Schofield, William","Harvard Law School, LL.B.,",1883,"Harvard Law School, LL.B.,",NaN,NaN,NaN,NaN,NaN,NaN,NaN,First
4,Dodge,Frederic,None,"Dodge, Frederic","Harvard College, B.A.,",1867,"Harvard Law School, LL.B.,",1869,NaN,NaN,NaN,NaN,NaN,NaN,First

In [14]:
# removing trailing spaces and commas
# test = 'Duquesne University, B.A., '
# line = test.strip().rstrip(',')
# print(line)

df = df.replace(r', $','', regex=True)
df.head()

,lastname,firstname,suffix,name,school1,year1,school2,year2,school3,year3,school4,year4,school5,year5,circuit
0,Colt,LeBaron Bradford,None,"Colt, LeBaron Bradford","Yale College, A.B.",1868,"Columbia Law School, LL.B.",1870,,NaN,NaN,NaN,NaN,NaN,First
1,Putnam,William LeBaron,None,"Putnam, William LeBaron","Bowdoin College, A.B.",1855,Read law,1858,,NaN,NaN,NaN,NaN,NaN,First
2,Lowell,Francis Cabot,None,"Lowell, Francis Cabot","Harvard University, A.B.",1876,"Harvard Law School, LL.B.",1879,,NaN,NaN,NaN,NaN,NaN,First
3,Schofield,William,None,"Schofield, William","Harvard Law School, LL.B.",1883,"Harvard Law School, LL.B.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,First
4,Dodge,Frederic,None,"Dodge, Frederic","Harvard College, B.A.",1867,"Harvard Law School, LL.B.",1869,NaN,NaN,NaN,NaN,NaN,NaN,First

In [15]:
# in school 1, there are some schools that appeared back to back, like this, because they had no years:
# University of PennsylvaniaBates College, A.B.
# further split the schools that had no years

# testing splits with string
string_test = "University of PennsylvaniaBates College, A.B."

string_new = re.sub(r'([a-z])([A-Z])', r'\1 | \2', string_test)
print(string_new)

print(string_new.split(' | '))

University of Pennsylvania | Bates College, A.B.
['University of Pennsylvania', 'Bates College, A.B.']

In [16]:
string_test = "University of PennsylvaniaBates College, A.B."

string_new = re.sub(r'([a-z])([A-Z])', r'\1|\2', string_test)
print(string_new)

print(string_new.split('|'))

University of Pennsylvania|Bates College, A.B.
['University of Pennsylvania', 'Bates College, A.B.']

In [17]:
# Add symbols in between lowercase so as to now break it when I later split
df = df.replace(".*DePau\w.*", "De###Paul University", regex=True)

In [18]:
df.school1 = df.school1.str.replace(r'([a-z])([A-Z])', r'\1|\2', regex=True)

In [19]:
split_df = df.school1.str.split('|', expand=True)
split_df.head(10)

                            0                    1     2
0          Yale College, A.B.                 None  None
1       Bowdoin College, A.B.                 None  None
2    Harvard University, A.B.                 None  None
3   Harvard Law School, LL.B.                 None  None
4       Harvard College, B.A.                 None  None
5     Dartmouth College, A.B.                 None  None
6       Bowdoin College, A.B.                 None  None
7      Williams College, A.B.                 None  None
8  University of Pennsylvania  Bates College, A.B.  None
9       Harvard College, A.B.                 None  None

In [20]:
# Remove the ### I added in DePaul
split_df = split_df.replace("###", "", regex=True)

In [21]:
# rename columns
column_indices = [0, 1, 2]
new_names = ['school1_alt', 'school2_alt', 'school3_alt']
old_names = split_df.columns[column_indices]
split_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [22]:
# merge this new df and df with rest of information
df = pd.concat([split_df, df], axis=1)
df.head()

,school1_alt,school2_alt,school3_alt,lastname,firstname,suffix,name,school1,year1,school2,year2,school3,year3,school4,year4,school5,year5,circuit
0,"Yale College, A.B.",None,None,Colt,LeBaron Bradford,None,"Colt, LeBaron Bradford","Yale College, A.B.",1868,"Columbia Law School, LL.B.",1870,,NaN,NaN,NaN,NaN,NaN,First
1,"Bowdoin College, A.B.",None,None,Putnam,William LeBaron,None,"Putnam, William LeBaron","Bowdoin College, A.B.",1855,Read law,1858,,NaN,NaN,NaN,NaN,NaN,First
2,"Harvard University, A.B.",None,None,Lowell,Francis Cabot,None,"Lowell, Francis Cabot","Harvard University, A.B.",1876,"Harvard Law School, LL.B.",1879,,NaN,NaN,NaN,NaN,NaN,First
3,"Harvard Law School, LL.B.",None,None,Schofield,William,None,"Schofield, William","Harvard Law School, LL.B.",1883,"Harvard Law School, LL.B.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,First
4,"Harvard College, B.A.",None,None,Dodge,Frederic,None,"Dodge, Frederic","Harvard College, B.A.",1867,"Harvard Law School, LL.B.",1869,NaN,NaN,NaN,NaN,NaN,NaN,First

In [23]:
df.school1_alt.unique()

array(['Yale College, A.B.', 'Bowdoin College, A.B.',
       'Harvard University, A.B.', 'Harvard Law School, LL.B.',
       'Harvard College, B.A.', 'Dartmouth College, A.B.',
       'Williams College, A.B.', 'University of Pennsylvania',
       'Harvard College, A.B.',
       "St. John's College, Annapolis, Maryland, A.B.",
       'Brown University, A.B.', 'Columbia Law School',
       'Harvard University', 'College of the Holy Cross, A.B.',
       'Bates College, A.B.', 'Columbia University, B.A.',
       'Stanford University, A.B.',
       'University of Pennsylvania, Wharton School, B.S.',
       'College of the Holy Cross, B.S.', 'Harvard University, B.A.',
       'Tufts College, B.A.', 'Wellesley College, A.B.',
       'Haverford College, B.A.', 'Plymouth State College, B.A.',
       'Amherst College, B.A.', 'Brandeis University, B.A.',
       'Syracuse University', 'Columbia College, A.B.', 'Yale Law School',
       'Read law', 'University of Pennsylvania, B.A.',
       'Cornell University', 'Wesleyan University, B.A.',
       'University of Michigan, B.A.', 'Columbia Law School, LL.B.',
       'City College of New York, A.B.', 'Yale University, A.B.',
       'Yale College, B.A.', 'Union College, A.B.',
       'University of Chicago, Ph.B.', 'Princeton University, A.B.',
       'University of Oxford, Balliol College, Rhodes Scholar',
       'Fordham University School of Law', 'Amherst College, A.B.',
       'Fordham University School of Law, LL.B.',
       'Columbia University, A.B.',
       'Lincoln University, Pennsylvania, A.B.', 'Columbia College, B.A.',
       'Fordham University, A.B.', 'University of Rochester, A.B.',
       'New York University School of Law', 'Wellesley College, B.A.',
       "St. Joseph's College (now St. Joseph's University), B.S.",
       'Yale University, B.A.', 'New York Law School, LL.B.',
       'St. Francis College', 'St. Bonaventure University, B.A.',
       'Fordham College, A.B.',
       'Queens College, City University of New York, B.A.',
       'Yale University, B.S.', 'University of Massachusetts, B.A.',
       "St. Peter's College, B.A.", 'Brooklyn College, B.A.',
       'University of Rochester, B.A.', 'Princeton University, B.A.',
       'State University of New York at Albany, B.A.',
       'University of North Carolina, B.A.',
       'College of the Holy Cross, B.A.',
       'College of William and Mary, B.A.', 'Georgetown University, B.A.',
       'Georgetown University, A.B.', 'Ohio State University, B.A.',
       'Dartmouth College, B.A.',
       'Washington College (now Washington and Jefferson College), B.A.',
       'Harvard Law School',
       'Trinity College, Hartford, Connecticut, A.B.',
       'College of New Jersey (now Princeton University), A.B.',
       'Princeton University', 'Bucknell University, B.A.',
       'University of Pennsylvania Law School (now Carey Law School), LL.B.',
       'Princeton University, Litt.B.',
       'Temple University School of Law (now James E. Beasley School of Law), LL.B.',
       'Dickinson School of Law (now Penn State Dickinson Law), LL.B.',
       'Carleton College, A.B.', 'Duquesne University, B.S.',
       'Duquesne University School of Law, LL.B.',
       'Lehigh University, LL.B.', 'Columbia University, Ph.G.',
       'University of Delaware, A.B.', 'University of Pittsburgh, B.A.',
       'University of Pittsburgh, A.B.', 'Temple University, B.S.',
       'Cornell University, B.A.',
       'New Jersey Law School (now Rutgers School of Law -- Newark), LL.B.',
       'Temple University, B.A.', 'Duquesne University, B.A.',
       'Antioch College, B.A.', 'Temple University, A.B.',
       'Moravian College, B.A.', 'Drake University, B.S.',
       'University of Southern California, B.S.', 'Smith College, B.A.',
       'Tufts University, B.A.',
       'State University of New York at Cortland, B.A.',
       'Mount Holyoke College, B.A.',
       'Southern Illinois University, B.A.',
       'Franklin and Marshall College, B.A.', 'University of Maine, B.S.',
       'Gettysburg College, B.A.', 'Brigham Young University, B.A.',
       'University of Notre Dame, B.A.', 'Lycoming College, B.A.',
       'Rutgers University, B.A.', 'Grove City College, B.A.',
       'University of Scranton, B.A.', 'University of Dayton, B.A., B.S.',
       'New York University', 'New York University School of Law, LL.B.',
       'South Carolina College (now University of South Carolina)',
       'Wofford College, A.B.', 'University of Virginia',
       'University of Maryland School of Law (now Francis King Carey School of Law), LL.B.',
       'University of Michigan Law School',
       'Johns Hopkins University, A.B.', 'University of Virginia, B.A.',
       'Furman University, A.B.',
       'West Virginia University College of Law, LL.B.',
       'University of Virginia School of Law, LL.B.',
       'Duke University, A.B.', 'University of South Carolina, A.B.',
       'Hampden-Sydney College, A.B.', 'U.S. Naval Academy, B.S.',
       'West Virginia University College of Law, J.D.',
       'Davidson College, B.S.', 'St. Bonaventure University, A.B.',
       'University of South Carolina, B.S.', 'Wake Forest College, B.S.',
       'Davidson College, B.A.', 'Kenyon College, A.B.',
       'Wofford College, B.S.', 'Washington and Lee University, B.A.',
       'West Virginia University, A.B.', 'Vassar College, B.A.',
       'West Virginia University, B.A.', 'Virginia State College, B.A.',
       'Wofford College, B.A.', 'Hampton University, B.A.',
       'Bridgewater College, B.A.', 'Marshall University, B.A.',
       'Vanderbilt University, B.S.', 'Rhodes College, B.A.',
       'Wake Forest University, B.A.', 'Macalester College, B.A.',
       'Centre College, A.B.', 'Cumberland University',
       'University of Texas School of Law, LL.B.', 'Emory College, A.B.',
       'Tulane University Law School, LL.B.',
       'University of Georgia, A.B.',
       'University of Texas School of Law, LL.B.Millsaps College',
       'Vanderbilt University', 'Mississippi College, Ph.B.',
       'Louisiana State University Law School, LL.B.',
       'Stetson University College of Law, LL.B.',
       'Cornell University, A.B.', 'University of the South, A.B.',
       'University of Denver College of Law (now Sturm College of Law), LL.B.',
       'University of Nebraska, A.B.',
       'Washington and Lee University, A.B.',
       'Mercer University School of Law, LL.B.',
       'Birmingham-Southern College, A.B.', 'University of Texas, B.B.A.',
       'George Washington University Law School, LL.B.',
       'University of Texas, B.A.',
       'Loyola University New Orleans School of Law, LL.B.',
       'Alabama Polytechnic Institute (now Auburn University), B.S.',
       'University of Florida College of Law (now Fredric G. Levin College of Law), LL.B.',
       'University of Mississippi School of Law, LL.B.',
       'University of Georgia School of Law, LL.B.', 'U.S. Naval Academy',
       'National University School of Law (now George Washington University Law School), LL.B.',
       'St. Petersburg Junior College, A.A.',
       'U.S. Military Academy, B.S.',
       'Duke University School of Law, LL.B.',
       'University of South Carolina, B.Sc.', 'Rollins College, B.A.',
       'Louisiana State University, B.S.', 'University of Alabama, B.S.',
       'Goucher College, B.A.',
       'University of Alabama School of Law, LL.B.',
       'Louisiana State University, B.A.',
       'Brownsville Junior College (now Texas Southmost College), A.A.',
       'Florida A&M University, B.A.',
       'George Washington University, B.A.', 'Baylor University, B.B.A.',
       'Washington and Lee University, B.S.',
       'University of Denver, A.B.', 'University of Alabama, B.A.',
       'University of Mississippi, B.A.',
       'Tulane University Law School, J.D.', 'Tulane University, B.S.',
       'Tulane University, B.A.',
       'Rice Institute (now Rice University), B.A.',
       'Dillard University, B.A.', 'University of Houston, B.B.A.',
       'Louisiana Tech University, B.A.', 'San Antonio College, A.A.',
       'Jones County Junior College, A.A.', 'Baylor University, B.A.',
       'Rice University, B.A.', 'Florida Institute of Technology, B.S.',
       'Millsaps College, B.A.', 'Stanford University, B.A.',
       'University of Mississippi, B.B.A.',
       'Douglas University, Chicago, Illinois', 'University of Michigan',
       'Middlebury College, A.B.', 'Swarthmore College, A.B.',
       'Cincinnati Law School (now University of Cincinnati College of Law), LL.B.',
       'U.S. Grant University (now Tennessee Wesleyan College), A.B.',
       'University of Cincinnati, B.A.', 'University of Michigan, B.L.',
       'Western Reserve University (now Case Western Reserve University), B.A.',
       'University of Louisville Law Department (now Louis D. Brandeis School of Law), LL.B.',
       'University of Michigan Law School, A.B.',
       'University of Michigan Law School, LL.B.',
       'University of Cincinnati College of Law, LL.B.',
       'Notre Dame Law School, LL.B.', 'Cumberland University, A.B.',
       'Southern Methodist University, B.A.',
       'Ohio Northern University, Warren G. Harding College of Law, LL.B.',
       'Miami University, Ohio, A.B.', 'Fisk University, A.B.',
       'University of Kentucky College of Law, LL.B.',
       'University of Wisconsin, A.B.', 'University of Tennessee, A.B.',
       'Western State Teachers College (now Western Michigan University), B.A.',
       'University of Michigan, A.B.',
       'West Virginia State College, B.A.', 'Davidson College, A.B.',
       'Youngstown College (now Youngstown State University), A.B.',
       'East Tennessee State University, B.S.', 'Hamilton College, A.B.',
       'University of Detroit Law School (now University of Detroit Mercy School of Law), LL.B.',
       'Otterbein College, B.A.', 'Wayne State University, B.S.',
       'Vanderbilt University, B.A.', 'Ohio Wesleyan University, B.A.',
       'Radcliffe College, A.B.',
       'Massachusetts Institute of Technology, S.B.',
       'Williams College, B.A.', 'University of Akron, B.A.',
       'Western Michigan University, Honors College, B.A.',
       'Barnard College, A.B.',
       'Memphis State University (now University of Memphis), B.A.',
       'Boston College, B.S.', 'University of Northern Iowa, B.A.',
       'University of Pennsylvania, B.S.', 'Miami University, Ohio, B.A.',
       'Wabash College, A.B.', 'Yale College', 'Wittenberg College, A.B.',
       'Old University of Chicago', 'University of Wisconsin, B.A.',
       'University of Illinois',
       'Indiana Law School (now Indiana University Mc',
       'Illinois Wesleyan University Law School, LL.B.',
       'DePaul University', 'Indiana University, A.B.',
       'Lake Forest University, LL.B.',
       'Indiana University School of Law -- Bloomington (now Maurer School of Law), LL.B.',
       'University of Chicago Law School, LL.B.',
       'University of Illinois, A.B.University of Illinois College of Law, LL.B.',
       'Northwestern University School of Law (now Pritzker School of Law), LL.B.',
       'University of Chicago, B.A.', 'Central YMCA College, A.A.',
       'University of Iowa, A.B.', 'Elmhurst College, A.B.',
       'University of Illinois, A.B.', 'Indiana University, B.S.',
       'Marquette University, B.A.', 'Union College, B.A.',
       'Swarthmore College, B.A.', 'University of Notre Dame, A.B.',
       'Bryn Mawr College, A.B.', 'Northwestern University, B.S.',
       'St. Joseph’s College, Rensselaer, Indiana, B.B.A.',
       'Indiana University, B.A.', 'Hamilton College',
       'Washington University School of Law, LL.B.',
       'Westminster College, Fulton, Missouri', 'Grinnell College',
       'University of Minnesota, B.A.', 'Heidelberg University, Germany',
       'Washington University School of Law', 'University of Iowa, Ph.B.',
       'University of Nebraska College of Law, LL.B.',
       'Washington and Lee University',
       'University of Minnesota Law School, LL.B.',
       'University of Iowa, B.A.',
       'Kansas City School of Law (now University of Missouri-Kansas City School of Law), LL.B.',
       'Benton College of Law',
       'University of Arkansas School of Law, LL.B.',
       'University of Missouri, A.B.', 'University of Minnesota, B.S.L.',
       'University of Minnesota, B.S.L.Eveleth Junior College (now Mesabi Range Community and Technical College), A.A.',
       'University of Nebraska College of Law, J.D.',
       'Lincoln University, Missouri, B.S.', 'Drake University, B.A.',
       'Tabor College, B.A.',
       'Georgetown College (now Georgetown University), School of Foreign Service, B.S.F.S.',
       'University of Nebraska, B.S.', 'University of Wisconsin, B.S.',
       'Northwest Missouri State University, B.A.',
       'University of Arkansas, B.S.E.E.', "St. John's University, A.B.",
       'University of North Dakota, B.S.', 'University of Nebraska, B.A.',
       'Loras College, B.A.', 'University of Arkansas, B.A.',
       'Washington University in St. Louis, B.A.',
       'Northwestern University, B.A.',
       'Ouachita Baptist University, B.A.', 'Duke University, B.A.',
       'Jamestown College, B.A.', 'University of Kansas, B.A.',
       'Dordt College, B.A.',
       'Western Reserve College (now Case Western Reserve University)Read law',
       'Virginia Military Institute', 'Lafayette College, Ph.B.',
       'University of California, Berkeley, B.Litt.',
       'University of Oregon School of Law, LL.B.', 'Tacoma Law School',
       'University of Nevada, Reno', 'University of Arizona, A.B.',
       'Whitman College, A.B.',
       'University of Washington, B.A.University of Washington School of Law, LL.B.',
       'University of California, Berkeley, B.L.',
       'University of California, Berkeley, A.B.',
       'University of Washington, B.A.',
       'University of Montana School of Law, LL.B.',
       'Carleton College, B.A.', 'University of Texas, A.B.',
       'University of New Mexico, B.B.A.',
       'University of Washington, A.B.', 'Washburn College, A.B.',
       'University of Hawaii, B.A.', 'University of Oregon, B.A.',
       'San Diego State College, B.A.', 'Southwestern University, B.B.A.',
       'University of Idaho College of Law, J.D.',
       'University of Nevada, Reno, B.S.',
       'University of Santa Clara (now Santa Clara University), B.S.',
       'Willamette University, B.A.', 'Morehouse College, B.S.',
       'University of Southern California, B.A.',
       'University of California, Los Angeles, B.A.',
       'University of Nevada, Reno, B.A.',
       'University of California, Los Angeles, A.B.',
       'Pomona College, B.A.',
       'University of California, Hastings College of the Law, J.D.',
       'University of Southern California, B.S., business',
       "St. John's University, B.A.", 'University of Portland, A.B.',
       'Vassar College, A.B.',
       'University of Idaho College of Law, LL.B.',
       'Arizona State University, B.A.', 'Montana State University, B.A.',
       'University of Wyoming, B.A.',
       'University of California, Santa Barbara, B.A.',
       'Radcliffe College, B.A.',
       'University of Santa Clara (now Santa Clara University), B.Sc.',
       'North Carolina A&T State University, B.S.',
       'Brigham Young University, B.S.',
       'University of Kansas, B.A., B.S.', 'Occidental College, A.B.',
       'University of California, Berkeley, B.A.',
       'Stanford University, B.S.',
       'Ricks College (now Brigham Young University -- Idaho), A.A.S.',
       'Montana State University, B.S.E.',
       'University of Michigan Law School, J.D.',
       'University of Kansas School of Law, LL.B.',
       'University of Oklahoma College of Law, LL.B.',
       'University of Utah, B.A.', 'University of Colorado, A.B.',
       'Washburn College School of Law, LL.B.',
       'University of Wyoming College of Law, LL.B.',
       'University of Oklahoma, A.B.', 'University of Kansas, A.B.',
       'University of Denver, B.A.',
       'University of Utah College of Law (now S.J. Quinney College of Law), LL.B.',
       'New Mexico Military Institute', 'University of Wyoming, B.S.',
       'University of Notre Dame, B.B.A.', 'University of Oklahoma, B.A.',
       'Adams State College, B.A.', 'Creighton University, B.A.',
       'Michigan State University, B.A.', 'Colorado College, B.A.',
       'University of Oxford, M.A.Stanford University, A.B.',
       'Washburn University, B.B.A.', 'Texas Tech University, B.B.A.',
       'Emory University, B.A.', 'University of Alabama, A.B.',
       'Florida State University, B.A.',
       "St. Joseph's College, Jensen Beach, Florida, A.A.",
       "Randolph-Macon Woman's College (now Randolph College), B.A.",
       'Northeast Louisiana University (now University of Louisiana at Monroe), B.A.',
       'Stetson University, B.A.', 'University of Miami, B.A.',
       'University of Georgia, B.A.', 'Samford University, B.A.',
       'University of Florida, B.A.',
       'Florida International University, B.A.',
       'Washington College (now Washington and Lee University) School of Law, LL.B.',
       'Georgetown College (now Georgetown University)',
       'Dickinson College',
       'Westminster College, New Wilmington, Pennsylvania, A.B.',
       'Harvard College', 'University of California, Berkeley',
       'Centre College, B.A.', 'University of Missouri, B.A.',
       'Randolph-Macon College, B.A.', 'Yale College, Ph.B.',
       'Georgetown College Law School (now Georgetown University Law Center), LL.B.',
       'Northwestern University, B.S.L.',
       'St. Paul College of Law (now Mitchell Hamline School of Law), LL.B.',
       'Loyola University New Orleans, Ph.B.',
       'Howard University School of Law, LL.B.',
       'Connecticut College for Women (now Connecticut College), B.A.',
       'University of Chicago Law School, J.D.',
       'Cornell University, B.S.',
       'Georgetown College (now Georgetown University), B.A.',
       'George Washington University, A.B.', 'Drexel University, B.S.',
       'California State University, Sacramento, B.A.',
       'University of Illinois, B.A.',
       'Rose-Hulman Institute of Technology, B.S.',
       'University of Chicago', 'Creighton University, A.B.',
       'Southwest Missouri State University (now Missouri State University), A.B.',
       'Harvard College, B.S.', 'South Texas College of Law',
       'Loyola University Chicago School of Law, LL.B.',
       'University of Michigan, B.S.',
       "Judge Advocate General's Legal Center and School",
       'University of North Carolina, A.B.',
       'Rensselaer Polytechnic Institute, B.S.',
       'Rensselaer Polytechnic Institute, B.E.E.',
       'Massachusetts Institute of Technology, B.S.',
       'University of Arizona, B.A.',
       'University of California, Los Angeles, B.S.',
       'Michigan State University, B.S.E.E.'], dtype=object)

In [24]:
# delete the old school1 column, since these 3 new columns effectively take the place of it
del df['school1']

In [25]:
df.to_csv('02-split.csv', index=False)